<?xml version="1.0"?>
<launch>
  <arg name="paused" default="true"/>
  <arg name="gazebo_gui" default="true"/>
  <arg name="urdf_path" default="$(find quadruped_description)/urdf/quadruped.urdf"/>

  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="$(find quadruped_gazebo)/worlds/empty_world.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gazebo_gui)"/>
  </include>

  <!-- send robot urdf to param server -->
  <param name="robot_description" textfile="$(arg urdf_path)" />

  <!-- push robot_description to factory and spawn robot in gazebo at the origin, change x,y,z arguments to spawn in a different position -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -x 0 -y 0 -z 0.4
        -J joint_knee_fl 0.9 -J joint_ankle_fl -1.57 
        -J joint_knee_br 0.9 -J joint_ankle_br -1.57 
        -J joint_knee_fr 0.9 -J joint_ankle_fr -1.57
        -J joint_knee_bl 0.9 -J joint_ankle_bl -1.57 "
    respawn="false" output="screen" />
    <!-- <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -x 0 -y 0 -z 0.4
        -J joint_knee_fl 1.139 -J joint_ankle_fl -1.296
        -J joint_knee_br 0.819 -J joint_ankle_br -1.583 
        -J joint_knee_fr 0.553 -J joint_ankle_fr -1.536
        -J joint_knee_bl 1.003 -J joint_ankle_bl -1.523 "
    respawn="false" output="screen" /> -->

  <include file="$(find quadruped_config)/launch/quadruped_control.launch"/>

</launch>
